#
# ~/.env by chluna
#

export EDITOR={{ .editor }}
export VISUAL=$EDITOR
{{- if eq .chezmoi.os "linux" }}
export PATH=$PATH:$HOME/.local/bin:$HOME/.cargo/bin
export XDG_CONFIG_HOME=$HOME/.config
# export SXHKD_SHELL=/bin/sh
export DIFFPROG='delta --color-only'
{{- end }}
