Host op1
    User root
    HostName 192.168.7.101
    IdentityFile ~/.ssh/op1_ed25519

Host omv
    User root
    Hostname 192.168.7.201
    IdentityFile ~/.ssh/omv_ed25519

Host wg
    User wg
    Hostname 192.168.7.202
    IdentityFile ~/.ssh/wg_ed25519

Host gitlab
    User git
    Hostname gitlab.com
    IdentityFile ~/.ssh/gitlab_ed25519
