
Host github
    User git
    HostName github.com

Host homepi
    HostName 192.168.7.201

Host linode-sg-arch
    HostName linode-sg-arch.luna.cool

Host wrt
    User root
    HostName 10.42.69.1

Host *
    User {{ .chezmoi.username }}
    IdentityFile ~/.ssh/{{ .chezmoi.hostname }}
