{{- if eq .chezmoi.os "darwin" -}}
theme = "base16_default"
{{- else if eq .chezmoi.os "linux" -}}
theme = "catppuccin_mocha"
{{- end }}

[editor]
line-number = "relative"
shell = ["fish", "-c"]
cursorline = true

[editor.cursor-shape]
insert = "bar"

[editor.file-picker]
hidden = false

[editor.whitespace]
render = "all"

[editor.soft-wrap]
enable = true

[editor.lsp]
display-inlay-hints = true
