{{- $fontSize := "10.0" -}}
{{- $fontStyle := "Medium" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $fontSize = "12.0" -}}
{{-   $fontStyle = "Light" -}}
{{- end -}}

theme = light:Catppuccin Latte,dark:Catppuccin Mocha
font-size = {{ $fontSize }}
font-family = JetBrains Mono
font-style = {{ $fontStyle }}
font-style-bold = Bold
adjust-cursor-thickness = 2
window-padding-x = 5
window-padding-y = 5
{{- if eq .chezmoi.os "darwin" }}
auto-update = check
macos-icon = chalkboard
{{- end}}
shell-integration-features = ssh-env,ssh-terminfo
