theme = light:Catppuccin Latte,dark:Catppuccin Mocha
font-size = 12.0
font-family = FiraCode Nerd Font Mono
font-style = Ret
font-style-bold = Bold
adjust-cursor-thickness = 2
{{- if eq .chezmoi.os "darwin" }}
auto-update = check
macos-icon = chalkboard
{{- end}}
