[Unit]
Description=Set the battery charge start threshold to %i%
After=multi-user.target
StartLimitBurst=0

[Service]
Type=oneshot
Restart=on-failure
ExecStart=/bin/sh -c 'echo %i > /sys/class/power_supply/BAT0/charge_start_threshold'
ExecStart=/bin/sh -c 'echo %i > /sys/class/power_supply/BAT1/charge_start_threshold'
ExecStart=/bin/sh -c 'echo %i > /sys/class/power_supply/BAT0/charge_control_start_threshold'
ExecStart=/bin/sh -c 'echo %i > /sys/class/power_supply/BAT1/charge_control_start_threshold'

[Install]
WantedBy=multi-user.target
